<div class="container-fluid pl-3 pl-sm-5 pr-0 about" [ngClass]="{'active':show}">
  <div class="item">
    <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit.</blockquote> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum distinctio in doloribus harum a. Placeat eaque provident reiciendis laborum unde autem tempora aspernatur ea excepturi non blanditiis sequi, alias vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae nihil asperiores ducimus, perferendis, officia tempore libero ullam quod sunt fugiat molestiae iste expedita perspiciatis laboriosam nemo, voluptate officiis magni.</p> 
  </div>
  <div class="item photo"></div>
</div>