<div class="container-fluid pl-3 pl-sm-5 pr-0 about" [ngClass]="{'active':show}">
  <div itemscope itemtype="http://schema.org/Thing" class="item">
    <blockquote itemprop="name">Почему следует выбрать нас?</blockquote> 
    <p itemprop="description">Задача любой компании по разработке и продвижению сайтов - в максимально сжатые сроки создать проект наилучшего качества. Команда Progoff справится с любой поставленной задачей. Наши специалисты с радостью подберут для Вас наилучшее решение, а при необходимости помогут определиться с линией развития Вашего проекта. Наша команда состоит только из дипломированных специалистов, поэтому вся работа выполняется в кратчайшие сроки без потери качества.</p> 
    <a itemprop="potentialAction" class="btn btn-prog" routerLink="/prices">Узнать цены</a>
  </div>
  <div class="item photo"></div>
</div>