h2{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    
}
.process{
    .stage{
        cursor: default;
        padding: 100px 0;
        position: relative;
        display: flex;
        align-items: center;
        height: 350px;
        .process-content{
            margin-left: 170px;
            display: inline-block;
            color: white;
            position: relative;
            left:-30px;
            opacity: 0;
            transition: 0.6s;
            &.active{
                opacity: 1;
                left: 0;
            }
        }
        .image{
            display: block;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            border: 3px solid white;
            position: absolute;
            z-index: 10;
            .back-container{

                position: absolute;
                max-height: 150px !important;
                width: 150px;
                top: -1px;
                left: -1px;
                overflow: hidden;
                .back{
                    position: absolute;
                    width: 149px;
                    height: 150px;
                    top: -1px;
                    left: -1px;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
            
            img{
                position: absolute;
                width: 150px; 
            }
        }
        
        span{
            content: '';
            display: block;
            position: absolute;
            top: 250px;
            left:74px;
            height: 0;
            width: 3px;
            max-height: 206px;
            background-color: #fff;
            z-index: 2;
        }
        &:not(:last-child)::before{
            content: '';
            display: block;
            position: absolute;
            bottom: -100px;
            left:74px;
            height: 207px;
            width: 3px;
            
            background-color: rgb(114, 114, 114);
        }
    }
}

@media(max-width:768px){
    .process-content{
        position: absolute !important;
        left: 0 !important;
        background-color: #fff;
        color: black !important;
        padding: 10px;
        z-index: 10;
        margin: 0 !important;
        top: 300px;
        p{
            display: none;
        }
        &.active{
            opacity: 1;
            left: 10px !important;
        }
    }
}