
<h2>Процесс</h2>
<div class="process container">
  <div class="stage">
    <div class="image">
      <div class="back-container" [ngStyle]="{'height':sizes[0]+'px'}">         
        <div class="back"></div>       
      </div>
      <img src="../../assets/images/process/evaluation.png">
    </div>
    <span [ngStyle]="{'height':sizes[1]+'px'}"></span>
    <div class="process-content" [ngClass]="{'active':sizes[0]>0}">
      <h4>Изучение бизнеса</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dicta voluptate cumque eaque accusantium praesentium non, magni odio aut sapiente ipsa corporis aliquam exercitationem debitis numquam voluptatibus perferendis quidem.</p>
    </div>
  </div>
  <div class="stage">
    <div class="image">
      <div class="back-container" [ngStyle]="{'height':sizes[2]+'px'}">         
        <div class="back"></div>       
      </div>
      
      <img src="../../assets/images/process/meeting.png">
    </div>
    <span [ngStyle]="{'height':sizes[3]+'px'}"></span>
    <div class="process-content" [ngClass]="{'active':sizes[2]>0}">
      <h4>Изучение бизнеса</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dicta voluptate cumque eaque accusantium praesentium non, magni odio aut sapiente ipsa corporis aliquam exercitationem debitis numquam voluptatibus perferendis quidem.</p>
    </div>
  </div>
  <div class="stage">
    <div class="image">
      <div class="back-container" [ngStyle]="{'height':sizes[4]+'px'}">        
         <div class="back"></div>      
        </div>
      <img src="../../assets/images/process/creativity.png">
    </div>
    <span [ngStyle]="{'height':sizes[5]+'px'}"></span>
    <div class="process-content" [ngClass]="{'active':sizes[4]>0}">
      <h4>Изучение бизнеса</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dicta voluptate cumque eaque accusantium praesentium non, magni odio aut sapiente ipsa corporis aliquam exercitationem debitis numquam voluptatibus perferendis quidem.</p>
    </div>
  </div>
  <div class="stage">
    <div class="image">
      <div class="back-container" [ngStyle]="{'height':sizes[6]+'px'}">         
        <div class="back"></div>       
      </div>
      <img src="../../assets/images/process/data.png">
    </div>
    <span [ngStyle]="{'height':sizes[7]+'px'}"></span>
    <div class="process-content" [ngClass]="{'active':sizes[6]>0}">
      <h4>Изучение бизнеса</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dicta voluptate cumque eaque accusantium praesentium non, magni odio aut sapiente ipsa corporis aliquam exercitationem debitis numquam voluptatibus perferendis quidem.</p>
    </div>
  </div>
  <div class="stage">
    <div class="image">
      <div class="back-container" [ngStyle]="{'height':sizes[8]+'px'}">         
        <div class="back"></div>       
      </div>
      <img src="../../assets/images/process/responsive.png">
    </div>
    <span [ngStyle]="{'height':sizes[9]+'px'}"></span>
    <div class="process-content" [ngClass]="{'active':sizes[8]>0}">
      <h4>Изучение бизнеса</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dicta voluptate cumque eaque accusantium praesentium non, magni odio aut sapiente ipsa corporis aliquam exercitationem debitis numquam voluptatibus perferendis quidem.</p>
    </div>
  </div>
  <div class="stage">
    <div class="image">
      <div class="back-container" [ngStyle]="{'height':sizes[10]+'px'}">         
        <div class="back"></div>       
      </div>
      <img src="../../assets/images/process/speed-test.png">
    </div>
    <span [ngStyle]="{'height':sizes[11]+'px'}"></span>
    <div class="process-content" [ngClass]="{'active':sizes[10]>0}">
      <h4>Изучение бизнеса</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dicta voluptate cumque eaque accusantium praesentium non, magni odio aut sapiente ipsa corporis aliquam exercitationem debitis numquam voluptatibus perferendis quidem.</p>
    </div>
  </div>
  <div class="stage">
    <div class="image">
      <div class="back-container" [ngStyle]="{'height':sizes[12]+'px'}">         
        <div class="back"></div>       
      </div>
      <img src="../../assets/images/process/network.png">
    </div>
    <div class="process-content" [ngClass]="{'active':sizes[12]>0}">
      <h4>Изучение бизнеса</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dicta voluptate cumque eaque accusantium praesentium non, magni odio aut sapiente ipsa corporis aliquam exercitationem debitis numquam voluptatibus perferendis quidem.</p>
    </div>
  </div>
</div>
