<div class="container">
  <div class="head w-75 w-sm-50">
    <h2>Пакеты услуг</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptas ad officia, voluptates repellat similique, ducimus explicabo hic soluta, accusamus esse fuga rem ipsam recusandae sit sed cumque omnis est.</p>
    
  </div>
 
  <div class="main-container">
    <div class="card" *ngFor="let s of sales">
      <img src="{{s.Image}}" class="card-img-top" alt="Интернет магазин">
      <div class="card-body">
        <h5 class="card-title">{{s.Name}}</h5>
        <p class="card-text">{{s.Description}}</p>
        <h5>В пакет входят услуги:</h5>
        <ul>
          <li *ngFor="let service of s.Services">{{service.Name}}</li>
        </ul>
        <div class="d-flex align-items-center position-relative" style="overflow:hidden">
            <span class="price">Цена: {{getPrice(s)}}₽</span>
            <a  class="btn btn-prog-light" (click)="ms.open('app', getAttachment(s))">Подать заявку</a>
            
        </div>
        
      </div>
    </div>
  </div>
  
</div>
