<div class="d-flex flex-column justify-content-between" style="height: 100vh;">
  <div class="logo">
    <h2>Progoff</h2>
    <p>Компания разработки сайтов</p>
  </div>
  <div class="menu">
    <div class="menu-item">
      <span>Text</span>
    </div>
    <div class="menu-item">
      <span>Text</span>
    </div>
    <div class="menu-item">
      <span>Text</span>
    </div>
    <div class="menu-item">
      <span>Text</span>
    </div>
    <div class="social-nets">
      <i class="fab fa-vk"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
  <div class="footer">
    <a href="tel:+79151999845">+7 (915) 199-98-45</a>
    <button class="btn w-100">Подать заявку</button>
  </div>
</div>
