<div class="container">
    <div class="head w-75 w-sm-50">
      <h2>Цены разработки</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptas ad officia, voluptates repellat similique, ducimus explicabo hic soluta, accusamus esse fuga rem ipsam recusandae sit sed cumque omnis est.</p>
      
    </div>
    <div class="prices">
      <div class="price">
        <div class="image">
          <img src="../../assets/images/prices/brickwall.png" [ngClass]="{'active': show[0]}">
        </div>
        <div class="values" [ngClass]="{'active': show[0]}">
          <h3>Cоздание сайта</h3>
          <span>Сайт визитка<br><b>от 20 тыс. рублей</b></span>
          <span>Корпоративный сайт<br> <b>от 50 тыс. рублей</b></span>
          <span>Интернет магазин<br> <b>от 50 тыс. рублей</b></span>
          <span>Лэндинг-страница<br> <b>от 30 тыс. рублей</b></span>
        </div>
      </div>
      <div class="price">
        <div class="image">
          <img src="../../assets/images/prices/social-care.png" [ngClass]="{'active': show[1]}">
        </div>
        <div class="values" [ngClass]="{'active': show[1]}">
          <h3>Поддержка сайта</h3>
          <span>Сопровождение сайта<br> <b>от 5 тыс. рублей/мес</b></span>
          <span>Копирайтинг<br><b>от 1 тыс. рублей</b></span>
          <span>Наполнение контентом<br><b>от 10 тыс. рублей/мес.</b></span>
          <span>Продвижение<br><b>от 15 тыс. рублей</b></span>
        </div>
      </div>
      <div class="price">
        <div class="image">
          <img src="../../assets/images/prices/coding.png" [ngClass]="{'active': show[2]}">
        </div>
        <div class="values" [ngClass]="{'active': show[2]}">
          <h3>Дизайн сайта</h3>
          <span>Разработка логотипа<br> <b>от 5 тыс. рублей</b></span>
          <span>Дизайн сайта<br> <b>от 15 тыс. рублей</b></span>
          <span>Верстка макета<br> <b>2 тыс. рублей</b></span>
        </div>
      </div>
      <div class="price">
        <div class="image">
          <img src="../../assets/images/prices/add.png" [ngClass]="{'active': show[3]}">
        </div>
        <div class="values" [ngClass]="{'active': show[3]}">
          <h3>Дополнительные услуги</h3>
          <span>Адаптация под мобильные устройства<br> <b>от 10 тыс. рублей</b></span>
          <span>Анимирование сайта<br> <b>от 10 тыс. рублей</b></span>
          <span>Мультиязычный сайт<br> <b>от 5 тыс. рублей</b></span>
          <span>Чат на сайте<br> <b>от 8 тыс. рублей</b></span>
          <span>Эксклюзивый сайт<br> <b>от 90 тыс. рублей</b></span>
        </div>
      </div>
    </div>
    <div class="head w-75 w-sm-50">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptas ad officia, voluptates repellat similique, ducimus explicabo hic soluta, accusamus esse fuga rem ipsam recusandae sit sed cumque omnis est.</p>
      <button class="btn btn-rprog" routerLink="/sale-sets">Перейти</button>
    </div>
  </div>