/* You can add global styles to this file, and also import other style files */
.section-container{
    min-height: 50vh;
    background-color: rgb(240, 246, 255);
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    
}
*{
    box-sizing: border-box;
}
html, body{
    background-color: rgb(51, 55, 59);
    overflow-x: hidden;
}

.btn-prog{
    background-color: rgba(88, 88, 88);
    color:white;
    &:hover{
        color:white;
        background-color: rgb(29, 96, 221);
        
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}