/* You can add global styles to this file, and also import other style files */
.section-container{
    min-height: 50vh;
    background-color: rgb(240, 246, 255);
    border-bottom: 1px solid lightgray;
    
}