.section-container{
    background-image: url(../../assets/images/delimitter.jpg);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2, p, button{
        left:-100px;
        opacity: 0;
    }
    
    
    h2{
        transition-delay: 0.1s;
    }
    p{
        transition-delay: 0.2s
    }
    button{
        transition-delay: 0.3s;
    }
    &.active{
        h2, p, button{
            left:0px !important;
            opacity: 1;
        }
    }

}

