<div class="header">
    
    <div class="content">
        <h2 [ngClass]="{'active':show}">Progoff - ваша сила в наших решениях</h2>
        <p [ngClass]="{'active':show}">Команда Progoff - это команда специалистов. Мы не пользуемся шаблонными конструкторами. Мы работаем только на чистом языке, с 0, вручную. Ищем индивидуальный подход к каждому клиенту, можем осуществить практически любое желание. Работая вместе с нами, вы можете быть уверены, что Ваш сайт будет качественным, уникальным и популярным. Наши решения подойдут для любой ситуации - ведь мы работаем для вас.</p>
        <button [ngClass]="{'active':show}" class="btn btn-primary" (click)="ms.open('app')">Оставить заявку</button>
    </div>
    
</div>
