<div class="header">
    
    <div class="content">
        <h2 [ngClass]="{'activee':show}">Progoff - ваша сила в наших решениях</h2>
        <p [ngClass]="{'activee':show}">Команда Progoff - это команда профессионалов своего дела. Мы ищем индивидуальный подход к каждому клиенту, можем осуществить практически любое желание при создании вашего сайта. Наши решения подойдут для любой ситуации - ведь мы работаем для вас.</p>
        <button [ngClass]="{'activee':show}" class="btn btn-primary" (click)="ms.open('app')">Оставить заявку</button>
    </div>
    
</div>
